<div class="kleon-vertical-nav">
    <!-- Logo  -->
    <div class="logo d-flex align-items-center justify-content-between">
        <a href="index-2.html" class="d-flex align-items-center gap-3 flex-shrink-0">
            <img src="assets/img/logo-icon.svg" alt="logo">
            <div class="position-relative flex-shrink-0">
                <img src="assets/img/logo-text.svg" alt="" class="logo-text">
                <img src="assets/img/logo-text-white.svg" alt="" class="logo-text-white">
            </div>
        </a>
        <button type="button" class="kleon-vertical-nav-toggle"><i class="bi bi-list"></i></button>
    </div>

    <div class="kleon-navmenu">
        <ul class="main-menu">
            
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Home</span></li>
            <li class="menu-item menu-item-has-children"><a href="/dashboard"> <span class="nav-icon flex-shrink-0"><i class="bi bi-speedometer fs-18"></i></span> <span class="nav-text">Dashboards</span></a> 
                
            </li>
            
         

            <!-- Apps -->
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Apps</span></li>                    
            <li class="menu-item"><a href="/lab"><span class="nav-icon flex-shrink-0"><i class="bi bi-calendar-day fs-18"></i></span> <span class="nav-text">Laboratorium</span></a></li>
            <li class="menu-item"><a href="/peminjaman"><span class="nav-icon flex-shrink-0"><i class="bi bi-calendar-day fs-18"></i></span> <span class="nav-text">Peminjam</span></a></li>
            <li class="menu-item"><a href="/pengguna"><span class="nav-icon flex-shrink-0"><i class="bi bi-calendar-day fs-18"></i></span> <span class="nav-text">Pengguna</span></a></li>
            
          
            

            <!-- Content -->
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Content</span></li>
            <li class="menu-item"><a href="typography.html"><span class="nav-icon flex-shrink-0"><i class="bi bi-fonts fs-18"></i></span> <span class="nav-text">Typography</span></a></li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-table fs-18"></i></span> <span class="nav-text">Tables</span></a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-text">Bootstrap Table</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="tables-bootstrap-basic.html">Basic Table</a></li>
                            <li class="menu-item"><a href="tables-bootstrap.html">Customized Table</a></li>
                        </ul>
                        <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-text">Flex Table</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="tables-flex-basic.html">Basic Flex Table</a></li>
                            <li class="menu-item"><a href="tables-flex-customized.html">Customized Flex Table</a></li>
                        </ul>
                        <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
                    </li>
                    <li class="menu-item"><a href="tables-datatables.html">Data Tables</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-gift fs-18"></i></span> <span class="nav-text">Widgets</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="widget-apps.html">Widget Apps</a></li>
                    <li class="menu-item"><a href="widget-charts.html">Widget Charts</a></li>
                    <li class="menu-item"><a href="widget-cards.html">Widget Cards</a></li>
                    <li class="menu-item"><a href="widget-listing.html">Widget Listing</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            
            
            <!-- Forms -->
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Forms</span></li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-textarea-t fs-18"></i></span> <span class="nav-text">Form Elements</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="form-basic.html">Basic Forms</a></li>
                    <li class="menu-item"><a href="form-inputs.html">Forms Inputs</a></li>
                    <li class="menu-item"><a href="form-input-groups.html">Forms Inputs Group</a></li>
                    <li class="menu-item"><a href="form-horizontal.html">Forms Horizontal</a></li>
                    <li class="menu-item"><a href="form-vertical.html">Forms Vertical</a></li>
                    <li class="menu-item"><a href="form-wizard.html">Forms Wizard</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-check-square fs-18"></i></span> <span class="nav-text">Form Validation</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="form-validation-bootstrap.html">Bootstrap Validation</a></li>
                    <li class="menu-item"><a href="form-validation-custom.html">Custom Validation</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            

            <!-- UI Components -->
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>UI Components</span></li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-bricks fs-18"></i></span> <span class="nav-text">UI Elements</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="accordion.html">Accordion</a></li>
                    <li class="menu-item"><a href="alerts.html">Alerts</a></li>
                    <li class="menu-item"><a href="avatar.html">Avatar</a></li>
                    <li class="menu-item"><a href="badge.html">Badge</a></li>
                    <li class="menu-item"><a href="breadcrumb.html">Breadcrumb</a></li>
                    <li class="menu-item"><a href="collapse.html">Collapse</a></li>
                    <li class="menu-item"><a href="dropdowns.html">Dropdowns</a></li>
                    <li class="menu-item"><a href="list-group.html">List Group</a></li>
                    <li class="menu-item"><a href="modals.html">Modal</a></li>
                    <li class="menu-item"><a href="offcanvas.html">Offcanvas</a></li>
                    <li class="menu-item"><a href="tabs.html">Tabs</a></li>
                    <li class="menu-item"><a href="pagination.html">Pagination</a></li>
                    <li class="menu-item"><a href="placeholders.html">Placeholders</a></li>
                    <li class="menu-item"><a href="popovers.html">Popovers</a></li>
                    <li class="menu-item"><a href="progressbar.html">Progressbar</a></li>
                    <li class="menu-item"><a href="spinners.html">Spinners</a></li>
                    <li class="menu-item"><a href="toasts.html">Toasts</a></li>
                    <li class="menu-item"><a href="tooltips.html">Tooltips</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-card-image fs-18"></i></span> <span class="nav-text">Cards</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="cards-basic.html">Bootstrap Basic</a></li>
                    <li class="menu-item"><a href="cards.html">Customized Cards</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-send fs-18"></i></span> <span class="nav-text">Buttons</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="buttons.html">Default Buttons</a></li>
                    <li class="menu-item"><a href="video-buttons.html">Video Buttons</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-plugin fs-18"></i></span> <span class="nav-text">Plugins</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="form-dropzone.html">Dropzone</a></li>
                    <li class="menu-item"><a href="form-repeater.html">Repeater</a></li>
                    <li class="menu-item"><a href="form-select2.html">Select 2</a></li>
                    <li class="menu-item"><a href="sweetalert.html">Sweet Alert</a></li>
                    <li class="menu-item"><a href="toastr.html">Toastr</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>

            <!-- Authentication -->
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Authentication</span></li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-info-circle fs-18"></i></span> <span class="nav-text">Error</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="403.html">403 Error</a></li>
                    <li class="menu-item"><a href="404.html">404 Error</a></li>
                    <li class="menu-item"><a href="500.html">500 Error</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-box-arrow-in-right fs-18"></i></span> <span class="nav-text">Login</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="login.html">Boxed Login</a></li>
                    <li class="menu-item"><a href="login-2.html">Side Login</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-person-plus fs-18"></i></span> <span class="nav-text">Registration</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="register.html">Boxed Registration</a></li>
                    <li class="menu-item"><a href="register-2.html">Side Registration</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-key fs-18"></i></span> <span class="nav-text">Password</span></a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children"><a href="#">Reset Passward</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="reset-password.html">Boxed Reset Passward</a></li>
                            <li class="menu-item"><a href="reset-password-2.html">Side Reset Passward</a></li>
                        </ul>
                        <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="#">Forgot Passward</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="forgot-password.html">Boxed Forgot Passward</a></li>
                            <li class="menu-item"><a href="forgot-password-2.html">Side Forgot Passward</a></li>
                        </ul>
                        <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
                    </li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-qr-code-scan fs-18"></i></span> <span class="nav-text">Two Step Varification</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="two-step-varification.html">Boxed Varification</a></li>
                    <li class="menu-item"><a href="two-step-varification-2.html">Side Varification</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>

            <!-- Charts -->
            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Charts</span></li>
            <li class="menu-item menu-item-has-children"><a href="#"><span class="nav-icon flex-shrink-0"><i class="bi bi-pie-chart fs-18"></i></span> <span class="nav-text">Apex Chart</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="apexchart-line.html">Line Chart</a></li>
                    <li class="menu-item"><a href="apexchart-bar.html">Bar Chart</a></li>
                    <li class="menu-item"><a href="apexchart-column.html">Column Chart</a></li>
                    <li class="menu-item"><a href="apexchart-area.html">Area Chart</a></li>
                    <li class="menu-item"><a href="apexchart-pie.html">Pie Chart</a></li>
                    <li class="menu-item"><a href="apexchart-radial.html">Radial Chart</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>
            
            
        </ul>
    </div>

    <div class="card border-0 text-white mr-top-70 boost-card">
        <div class="card-body">
            <div class="icon fs-20 mb-2"><i class="bi bi-speedometer2"></i></div>
            <h5 class="fs-18 text-white">Boost your work</h5>
            <p class="fs-14 mb-4">Upgrade to premium here</p>
            <a href="#" class="btn ff-heading fw-bold fs-16 bg-white text-primary rounded-3 border-0">Upgrade Now <i class="bi bi-caret-right-fill"></i></a>
        </div>
    </div>

    <div class="card border-0 rounded-0 mt-6">
        <div class="card-body p-0">
            <h6 class="text-gray lh-20 mb-0">Kleon Admin Dashboard</h6>
            <h6 class="text-gray fs-14 fw-medium">Made with <i class="bi bi-heart-fill text-red"></i> by <a href="#">WPThemeBooster</a></h6>
        </div>
    </div>
</div>