<%- include('../partials/headerMahasiswa') %>
<%- include('../partials/sidebarMahasiswa') %>

     
      
    
      
      <!-- Theme Customizer Panel -->
      <button class="aside_open btn btn-primary position-fixed z-index-9 rounded-circle p-0 m-0 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#themeSwitcher"><i class="bi bi-gear-fill fs-20"></i></button>
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="themeSwitcher">
          <div class="offcanvas-header bg-light-200">
              <h5 class="offcanvas-title">Theme Customizer</h5>
              <button type="button" class="aside_close btn btn-danger z-index-9 rounded-circle p-0 m-0 d-flex align-items-center justify-content-center" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
          </div>
          <div class="offcanvas-body bg-white p-0">
              <div class="bg-light-500 p-4 flex-grow-1">
                  <h6 class="mb-3 lh-16">Theme Color Mode</h6>
                  <div>
                      <div class="form-switch p-0">
                          <label class="form-label mb-0" for="colorSwitch4">Light</label>
                          <input type="checkbox" class="form-check-input border-0 m-0 mx-3" id="colorSwitch4">
                          <label class="form-label mb-0" for="colorSwitch4">Dark</label>
                      </div>
                  </div>
              </div>


              
              </div>
          </div>
      </main>



      <%- include('../partials/footer')  %>