<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello: <%= email %>
            </h1>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>

